# SQL Part 1 Studio

Let's practice your SQL querying skills!  For each question, work along in the notebook adding your query and answering the questions.

## Dataset

We will be using the same Goodreads dataset that was used for the exercises in the prep work. Feel free to reference your exercises notebook as you work on the studio. The Kaggle dataset can be found here: [goodbooks-10k](https://www.kaggle.com/zygmunt/goodbooks-10k).

You can access **BooksDB** in the Launchcode server.

## Business Issue

You work for a small independent book store and you want to increase sales by running a new marketing campaign. Before you can design your campaign, you need to get more familiar with what is going on with the world of book publishing. Time to get more familar with BooksDB!

## Part 1: BooksDB Questions

Question 1: Write a query of the `books` table that returns the top 100 results and includes `book_id`, `authors`, `title`, and `average_rating`. Use an alias for at least one column and sort the result set in descending order of rating. What is the number one book?

In [ ]:
-- return top 100 results --

USE booksdb
SELECT TOP 100 book_id, authors, title, average_rating AS book_rating
FROM dbo.books
order by book_rating DESC;

The number one book is The Complete Calvin and Hobbes.

Question 2: Write a query to find the least popular book.

In [ ]:
-- return least popular book

USE booksdb
SELECT title, average_rating AS book_rating
FROM dbo.books
order by book_rating ASC;

One Night at the Call Center

Question 3: Which tag is the most popular?

In [ ]:
-- return most popular tag

USE BooksDB
SELECT COUNT(tag_id) AS tag_count, tag_id
FROM dbo.book_tags
GROUP BY tag_id
ORDER BY tag_count DESC;

In [ ]:
Tag 30574

Question 4: What is the name of the most popular tag?

In [ ]:
-- return name of most popular tag

USE BooksDB
SELECT tag_name
FROM dbo.tags
WHERE tag_id = 30574;

to-read

Question 5: How many books where released in the first decade of 2000?

In [ ]:
-- return number of books published in the first decade of 2000

USE booksdb
SELECT COUNT(original_publication_year)
FROM dbo.books
WHERE original_publication_year BETWEEN 2000 AND 2009;

3121 books between 2000 and 2009.

Question 6: How many book titles contain the word, "happy"?

In [ ]:
-- return number of books that contain the word, "happy"

USE booksdb
SELECT COUNT(title)
FROM dbo.books
WHERE title LIKE '%happy%';

13 book titles

Question 7: List the books from the top 3 authors from Question 1.  If there is more than one author just use the first one. Sort the title alphabetically by `author` and then by `average_rating`, best rated to lowest. Does this order matter in sorting?

In [ ]:
-- return all books from the top 3 authors, sort by author and rating

USE booksdb
SELECT TOP 3 authors, title, average_rating
FROM dbo.books
ORDER BY average_rating DESC;

USE BooksDB
SELECT title, authors
FROM dbo.books
WHERE authors = 'Bill Watterson' OR authors = 'Brandon Sanderson' OR authors = 'J.k. Rowling';

Order matters in sorting. The top book by the top 3 authors are The Complete Calvin and Hobbes, Words of Radiance, and Harry Potter Boxes Set.

Question 8: Write a query that returns the number of authors whose first name is between rock and roll.

In [ ]:
-- return number of authors whose first name is between rock and roll
USE BooksDB
SELECT COUNT(authors)
FROM dbo.books
WHERE authors < 'roll' and authors >= 'rock';

25 authors

## Part 2: Find the Answers to Your Own Questions

Your Question:  Click here to add a questions that you want to answer and write a query to find the answer!

In [ ]:
-- How many books were published in 2005?
USE BooksDB
SELECT COUNT(title)
FROM dbo.books
WHERE original_publication_year = 2005;

-- 326 books

Your Question:  Click here to add a questions that you want to answer and write a query to find the answer!

In [ ]:
-- What are the books written by the top author, listed in popular order

USE BooksDB
SELECT title, authors, average_rating
FROM dbo.books
WHERE authors = 'J.K. Rowling'
ORDER BY authors, average_rating DESC;

If you cannot think of a question you want to ask, here are some question examples to help jumpstart your brainstorming process:

1. What book has the longest title?
1. Which author has written the most books?
1. What were the top ten books published the year I was born?